{% extends "base_templates/base.html" %}

{% block title %} Admin-nav {% endblock %}

{% block content %}
    {% include "includes/navbar.html" %}
    <section class="p-4 bg-primary-subtle">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ratio ratio-16x9">
                        {% if url %}
                        <iframe class="border-0 rounded" src="{{ url }}" allowfullscreen></iframe>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

