{% extends "base_templates/base-form-page.html" %}

{% block title %}Logga in{% endblock %}

{% block page_header %}Logga in{% endblock %}

{% block page_content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">

                <form method="post" action="{{ url_for('auth.login') }}">

                    <div class="mb-3">
                        <label for="input1" class="form-label">Användarnamn</label>
                        <input type="text" class="form-control" id="input1" name="username">
                    </div>

                    <div class=" mb-3">
                        <label class="form-label" for="input2">Innehåll</label>
                        <input type="password" class="form-control" id="input2" name="password">
                    </div>

                    <div>
                        <input class="btn btn-primary" type="submit"/>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}