{% extends "base_templates/base-form-page.html" %}

{% block title %}Radera bok{% endblock %}

{% block page_header %}Radera bok{% endblock %}

{% block page_content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">

                <form method="post" action="{{ url_for('admin.delete_book') }}">
                    <div class="mb-3">
                        <label class="form-label" for="book_title">Titel</label>
                        <select id="book_title" class="form-select" name="book_title">
                            <option selected disabled>Välj ett alternativ</option>
                            {% if data %}
                                {% for item in data %}
                                    <option value="{{ item.get('title') }}">{{ item.get('title') }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>

                    <div>
                        <input class="btn btn-primary" type="submit" value="Spara">
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}