{% extends "base_templates/base.html" %}

{% block title %} Produktsida kort {% endblock %}

{% block content %}
    <section class="py-4">
        <div class="container ">
            <div class="row">
                <div class="col-md-1 col-lg-3"></div>
                <div class="col-12 col-md-10 col-lg-6">
                    {% if card %}
                        <div class="card border-0 bg-white shadow-sm">
                            <img
                                    class="img-fluid card-img-top w-100 d-block"
                                    src="data:image/jpeg;base64,{{ card['thumbnail'] }}"
                                    alt="{{ card['title'] }}"
                            >
                            <div class="card-body">
                                <span class="badge bg-primary">{{ card["price"] }} kr</span>
                                <hr/>
                                <h4 class="card-title">{{ card["title"] }}</h4>
                                <small>{{ card["artist"] }}</small>
                                <hr/>
                                <button class="btn btn-primary" type="button">Beställ</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-1 col-lg-2"></div>
            </div>
        </div>
    </section>
{% endblock %}

